<div class="row mx-3">
  <h2>Inventory</h2>
</div>
<form [formGroup]="inventoryForm" (ngSubmit)="onSubmit()" class="mb-4">
  <div class="row mx-5">
    <div class="col">
      <label>Product ID:</label>
      <input formControlName="productId" type="text" class="form-control" />
      <div
        *ngIf="
          inventoryForm.get('productId')?.invalid &&
          inventoryForm.get('productId')?.touched
        "
        class="text-danger"
      >
        Product ID is required.
      </div>
    </div>
    <div class="col">
      <label>Product Name:</label>
      <input formControlName="productName" type="text" class="form-control" />
      <div
        *ngIf="
          inventoryForm.get('productName')?.invalid &&
          inventoryForm.get('productName')?.touched
        "
        class="text-danger"
      >
        Product Name is required.
      </div>
    </div>
    <div class="col">
      <label>Stock Available:</label>
      <input
        formControlName="stockAvailable"
        type="number"
        min="0"
        class="form-control"
      />
      <div
        *ngIf="
          inventoryForm.get('stockAvailable')?.invalid &&
          inventoryForm.get('stockAvailable')?.touched
        "
        class="text-danger"
      >
        Stock Available must be 0 or more.
      </div>
    </div>
    <div class="col">
      <label>Reorder Stock:</label>
      <input
        formControlName="reorderStock"
        type="number"
        min="0"
        class="form-control"
      />
      <div
        *ngIf="
          inventoryForm.get('reorderStock')?.invalid &&
          inventoryForm.get('reorderStock')?.touched
        "
        class="text-danger"
      >
        Reorder Stock must be 0 or more.
      </div>
    </div>
    <div class="col d-flex align-items-end">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>

<div class="mt-5 mx-3">
  <h3>Inventory Details</h3>
</div>
<table class="table table-striped table-hover mx-3">
  <thead>
    <tr>
      <th scope="col">Product Id</th>
      <th scope="col">Product Name</th>
      <th scope="col">Stock Available</th>
      <th scope="col">Reorder Stock</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Inventory of inventoryDto; let i = index">
      <th scope="row">{{ Inventory.productId }}</th>
      <td>{{ Inventory.productName }}</td>
      <td>{{ Inventory.stockAvailable }}</td>
      <td>{{ Inventory.reorderStock }}</td>
      <td>
        <button type="button" class="btn btn-primary">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </td>
    </tr>
    <tr *ngIf="inventoryDto.length === 0">
      <td colspan="5" class="text-center">No inventory data found.</td>
    </tr>
  </tbody>
</table>
